html {
     height: 100%;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background: linear-gradient(rgb(241, 137, 137), white);
 }

body {

     height: 100%;
     padding: 50px;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background: linear-gradient(rgb(241, 137, 137), white);
     font-family: Tahoma;

     
  
     margin: auto;
      
}

.image{
     display: flex;
     justify-content: center;
     justify-items: center;
     align-items: center;
     justify-content: space-evenly;
}
.BarNav{
     padding-top: 50px;
     display: flex;
     justify-content: center;
     justify-items: center;
     align-items: center;
     justify-content: space-evenly;
     text-decoration: none;
}

.link{
     color: black;
     text-decoration: none;
     font-family: Tahoma;
}

.nav-item{
     font-size: xx-large;
     font-family: Tahoma;
     display: flex;
     justify-content: space-evenly;
     cursor: pointer;
     margin-right: 20px;
     align-items: center;
     border: 1px solid rgb(221, 33, 8);
     border-radius: 20px;
     padding: 5px 10px;
     text-decoration: none;

}

.nav-item:hover{
     background-color: beige;
}
.fa{
     padding-top: 50px;
}


/*
.nav-item{
     font-size: larger;
     display: flex;
     justify-content: space-evenly;
     cursor: pointer;
     margin-right: 20px;
     align-items: center;
     border: 3px solid rgb(221, 33, 8);
     border-radius: 20px;
     padding: 5px 10px;
     text-decoration: none;

}
*/